body {
  margin: 0;
  font-family: "Outfit", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  
}


.hover {
  transition: transform .2s
}

.hover:hover {
  transform: scale(1.2);
}

.btn:focus, 
.btn:active, 
.btn:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

div.btn:focus, 
div.btn:active {
    outline: none !important;
    box-shadow: none !important;
}
.assistant {
  .flex-grow-1 {
    overflow-y: auto !important;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
  }
  
  .flex-grow-1::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari */
  }

  .position-sticky {
    bottom: 0;
    background: white;
    z-index: 1000;
  }
}

