body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.hover {
  transition: transform .2s
}

.hover:hover {
  transform: scale(1.2);
}

.btn:focus, 
.btn:active, 
.btn:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

div.btn:focus, 
div.btn:active {
    outline: none !important;
    box-shadow: none !important;
}